.button {
    background: #000;
    animation: bounce .3s ease-in-out;
    width: 155px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    font-family: 'Caudex', serif;
    font-size: 16px;
    text-align: center;
    transition: all .2s linear;
    color: #fff;
    margin: 10px 10px 0 0;
    font-weight: 300;
}

.spacebar {
    text-align: center;
    font-size: 36px;
    height: 72px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    letter-spacing: .1em;
    line-height: 72px;
    font-family: 'Caudex', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}